#container {
    width: 500px;
    height: 250px;
    background: lightslategray;
}

.info-wrapper {
    color: cornflowerblue;
    float: left;
    width: 35%;
}
.info-wrapper > h1 {
    text-align: center;
}

.img-wrapper {
    width: 50%;
    padding: 20px;
    float: left;
}

.img-wrapper > img {
    width: 100%;
}