<!-- Wrapper for the ads listing -->

<div class="col-sm-9">
    <div class="col-sm-12 jumbotron" data-ng-controller="HomeController" data-ng-repeat="singleAd in ads"
         data-ng-include="'templates/ad-view.html'" data-ng-class="adContainerStyle">
    </div>
</div>
<!-- Category Filter container -->
<div class="col-sm-3">
    <div class="col-sm-12 jumbotron" data-ng-controller="CategoryFilterController"
         data-ng-include="'templates/category-filter-view.html'">
    </div>

    <div class="col-sm-12 jumbotron" data-ng-controller="TownFilterController"
         data-ng-include="'templates/town-filter-view.html'">
    </div>
</div>

<!-- Pagination container -->
<div class="col-sm-12" data-ng-controller="PaginationController" data-ng-include="'templates/pagination.html'">

</div>