<!-- Wrapper for the ads listing -->
<div class="col-sm-8" data-ng-controller="HomeController">
    <div class="col-sm-12 jumbotron" data-ng-repeat="singleAd in ads"
         data-ng-include="'templates/ad-view.html'" data-ng-class="adContainerStyle">
    </div>
    <pagination total-items="totalItems" items-per-page="numPerPage" data-ng-model="currentPage"
                boundary-links="shouldHaveFirstLastButtons"
                max-size="maxVisiblePages" data-ng-change="pageChanged()"></pagination>
</div>
<!-- Category Filter container -->
<div class="col-sm-4">
    <div class="col-sm-12 jumbotron" data-ng-controller="CategoryFilterController"
         data-ng-include="'templates/category-filter-view.html'">
    </div>

    <div class="col-sm-12 jumbotron" data-ng-controller="TownFilterController"
         data-ng-include="'templates/town-filter-view.html'">
    </div>
</div>