#head-container {
    background-color: #A9D18E;
    border: #507E32 1px solid;
    text-align: center;
    padding: 5px;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0.5px 0.5px 1px;
    margin: 5px;
}

#head-container .user-area {
    float: right;
    font-size: 11pt;
    font-weight: normal;
    margin: 5px 5px 0 0;
}

#head-container .user-area span {
    margin-right: 15px;
}